 body{
text-align: center;
/* display: flex;
justify-content: center; */
}
div{
    height: 100px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    
    
}
img{
    height: 200px;
    width:200px;

}